<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js测试小程序</title>
    <script src="vue.min.js"></script>
</head>
<body>
<!--实现body区域显示-->
<div id="app">
    <ul>
        <li v-for="(item,index) in userlist":key="item.user.name">
                <div v-if="item.user.uname=='a'" style="background: #00f50c">
                    {{index}}--{{item.user.uname}}--{{item.user.age}}
                </div>
            <div v-else>
                {{index}}--{{item.user.uname}}--{{item.user.age}}
            </div>
        </li>
    </ul>
</div>
</body>
<script>
    // 实例化Vue对象
    //vm :叫做MVVM中的 View Model
    var VM = new Vue({
        el:"#app",//表示当前vue对象接管app的div区域
        data:{
            userlist:[
                {user:{uname:"a",age:"1"}},
                {user:{uname:"b",age:"2"}}
            ]
        }
    });
</script>
</html>